<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

        #navItem1 {
            color: #323f4b;
            font-family: "Roboto";
        }

        #navItem2 {
            color: #323f4b;
            font-family: "Roboto";
        }

        #navItem3 {
            color: #323f4b;
            font-family: "Roboto";
        }

        #navItem4 {
            color: #323f4b;
            font-family: "Roboto";
        }

        #navItem5 {
            border-radius: 50px;
            background: #01bf71;
            padding: 10px 22px;
            color: #010606;
            font-size: 16px;
            outline: none;
            border: none;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            text-decoration: none;
        }

        .image1 {
            height:140px;
            width: 100px;
        }

        .heading {
            color: #959ead;
            font-weight: bold;
            font-size: 16px;
            font-family: Roboto;
        }

        .para {
            color: #1f2933;
            font-family: roboto;
        }

        .bg-container {
            padding: 10px;
            border-style: solid;
            border-color: white;
            border-width: 1px;
            height: 300px;
            width: 300px;
            text-align: center;
        }

        .vr-link {
            font-weight: bold;
            color: #1754a1;
        }

        .button {
            background-color: #1754a1;
            border-style: solid;
            border-width: 2px;
            color: #ffffff;
            height: 40px;
            width: 140px;
            border-color: white;
            border-radius: 6px;
        }

        .head {
            color: #1f2933;
            font-weight: bold;
            padding: 8px;
        }

        .card-container {
            width: 100%;
            height: 100%;
            padding: 20px;
            background-color: #202b36;
            border-radius: 8px;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">&nbsp;<img src="https://www.srivishnu.edu.in/wp-content/uploads/2018/07/logo.png" class="image1 w-100"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav m-auto">
                        <a class="nav-link active" href="#About" id="navItem1">About &nbsp;&nbsp;&nbsp; <span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="#Pricing" id="navItem2"> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;Pricing</a>
                        <a class="nav-link" href="#Contact" id="navItem3"> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;Contact</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <br>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="bg-container shadow mt-3">
                    <center><img src="https://qph.cf2.quoracdn.net/main-qimg-f48a5b1f6233a5170b6d8c8b49286aab-lq" class="image1 w-75 mt-5"></center>
                    <h1 class="heading mt-2"> CVR BLOCK</h1>
                    <p class="para"> </p>
                    <a href="/cvr" class="vr-link"> BOOK ROOM <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                    </svg>
                </a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="bg-container shadow mt-3">
                    <center><img src="https://sainikschoolguide.in/wp-content/uploads/2023/05/2022-05-29.jpg" class="image1 w-75 mt-5"></center>
                    <h1 class="heading mt-2"> ASR BLOCK</h1>
                    <p class="para"> </p>
                    <a href="#" class="vr-link"> BOOK ROOM <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                    </svg>
                </a>
                </div>

            </div>



            <div class="col-12 col-md-6">
                <div class="bg-container shadow mt-3">
                   <br><br> <center><img src="https://images.shiksha.com/mediadata/images/1640063685phpVXcau1.jpeg" class="image1 w-75"></center>
                    <h1 class="heading mt-2"> VVK BLOCK</h1>
                    <p class="para"> </p>
                    <a href="#" class="vr-link"> BOOK ROOM <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                    </svg>
                </a>

                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="bg-container shadow mt-3"><br><br>
                    <center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/NIT_Jalandhar_Hostel_6_and_Mega_%28Block_B%29.jpg/2560px-NIT_Jalandhar_Hostel_6_and_Mega_%28Block_B%29.jpg" class="image1 w-75"></center>
                    <h1 class="heading mt-2">VSR BLOCK</h1>
                    <p class="para"></p>
                    <a href="#" class="vr-link"> BOOK ROOM <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                        </svg>
                    </a>
                </div>
            </div>



        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>